<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Connect</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">Resume</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
    <li><a href="http://lowenberg.com/Colin Lowenberg.vcf">Download Contact</a></li>
   <li><span class="obfuscate"><a href="mailto:colin@lowenberg.com">colin@lowenberg.com</a></span></li>
   <li><a href="tel:+1-415-742-9434">(415) 742-9434</a></li>
   <li><a href="https://www.linkedin.com/in/wifi/">LinkedIn</a></li>
   <li><a href="http://instagram.com/colinpollen">Instagram</a></li>
   <li><a href="https://www.facebook.com/colinster/">Facebook</a></li>
   <li><a href="http://github.com/colinster">GitHub</a></li>
   <li><a href="https://twitter.com/colo">Twitter</a></li>
   <li><a href="https://venmo.com/code?user_id=1072628806713344936">Venmo</a></li>
   </ul>
  </footer>
  </body>

</html>
