<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Connect</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:colin@lowenberg.com">email</a></li>
   <li><a href="https://github.com/colinster">github.com/colinster</a></li>
   </ul>
  </footer>
  </body>

</html>
